# Deployer private key
PRIVATE_KEY=your_private_key_here

# Base Sepolia RPC URL
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

# Basescan API Key for contract verification
BASESCAN_API_KEY=your_basescan_api_key_here

# USDC Token Address (Base Sepolia: 0x036CbD53842c5426634e7929541eC2318f3dCF7e)
# anamUSDC(Base Sepolia): 0xc12975eeed6cae78c96c2e11828d6a1c4aa2866b 
USDC_ADDRESS=0xc12975eeed6cae78c96c2e11828d6a1c4aa2866b
